---
import type { TodoItem } from "../db/schema";
import Trash from "./icons/Trash.astro";

type Props = {
  item: TodoItem;
};

const { item } = Astro.props;
---

<li class="mb-2 flex [&.htmx-request]:opacity-50 [&.htmx-request]:bg-gray-200">
  <div class="flex-1">
    {item.description}
  </div>
  <button
    class="text-white bg-red-600 px-2 rounded"
    hx-delete={`/api/delete-item?id=${item.id}`}
    hx-target="closest li"
    hx-swap="outerHTML"
    hx-indicator="closest li"
  >
    <Trash />
  </button>
</li>
